  <div class="block-footer" id="logo-grupo">
    <img src="/designs/themes/radio/images/brasaoUFBA.png" alt="">
    <img src="/designs/themes/radio/images/ime.png" alt="">
    <img src="/designs/themes/radio/images/gp.png" alt="">
  </div>
  <div class="block-footer" class="endereco" >
     <p><i class="fa fa-map-marker" aria-hidden="true"></i>  Av. Adhemar de Barros - Campus Universitário de Ondina</p>
     <p><i class="fa fa-phone" aria-hidden="true"></i>  (71) 3283-6765/6293 </p>
     <p><i class="fa fa-envelope-open" aria-hidden="true"></i> radiowebondadigital@gmail.com</p>
  </div>

  <div id="redessociais" class="block-footer">
    <p><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i>  /RádioOndaDigital</a></p>
    <p><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i>  OndaDigital</a></p>
    <p><a href=""><i class="fa fa-twitter" aria-hidden="true"></i> @radiowebonda</a></p>
    <p><a href=""><i class="fa fa-instagram" aria-hidden="true">  </i> radiowebPOD</a></p>
  </div>

  <div id="copyright">
    <br>
    <br>
    <hr>
    <br>
    <p><%= (_('This social network uses <a href="http://noosfero.org/">Noosfero</a>, developed by %s and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> version 3 or any later version.') % link_to('Colivre', 'http://colivre.coop.br/')).html_safe %></p>
  </div><!-- end id="copyright" -->
    <!--<%= language_chooser(environment) %> -->