<!-- empty -->
<!-- links/scripts -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- header -->

<header>
  <div id="logo">
   <h1>
     <%= link_to '/radio-web' do %>
       Rádio Web <br> &nbsp; &nbsp; Onda Digital
     <% end %>
   </h1>
   <span id="play"><a href=""><i class="fa fa-play" aria-hidden="true"> &nbsp; &nbsp; Ouça Agora </i></a></span>
  </div>

  <div class="clear"></div>

  <nav id="menu">
    <ul id="nav">
      <li><a href="#"><i class="fa fa-home" aria-hidden="true">  Home </i></a></li>
      <li><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"> Programação </i></a></li>
      <li><a href="#"><i class="fa fa-podcast" aria-hidden="true">  Podcast  </i></a></li>
      <li><a href="#"><i class="fa fa-question-circle" aria-hidden="true">  Projeto </i></a></li>
      <li><a href="#"><i class="fa fa-users" aria-hidden="true"> Equipe</i></a></li>
      <li><a href="#"><i class="fa fa-handshake-o" aria-hidden="true">Parceiros</i></a></li>
    </ul>
  </nav>
  <% if Community['radio-web'].admins.include? user %>
    <%= link_to '/myprofile/radio-web', id:'back', style:{display:'none'} do %>
      <strong><i class="fa fa-cog" aria-hidden="true"></i> BackOffice</strong>
    <% end %>
  <% end %>
</header>
