@import url(../base/style.css);
@import url('https://fonts.googleapis.com/css?family=Quicksand|Slackey');

*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

div#user{
  display: none;
}

/***************************************/
/*************** content ***************/
/***************************************/
#wrap-1{
  width: 100%;
  background-color: #008B8B;
  #theme-header{
    height: 186px;
    #bar-user{
      width: 100%;
      height: 30px;
      background-color: rgba(2, 165, 165, 0.98);
      border-radius: 0 0 18px 18px;
      #user{
        display: none;
        .logged-in{
          .welcome{
            display: none;
          }
          a{
            text-decoration: none;
            top: 2px;
            padding: 10px;
            i{
              top: 5px;
              font-size: 13pt;
            }
          }
          span, strong{
            color: white;
            }
          }
        }
      }
      #top-search{
        display: none;
      }
    }
   
  #wrap-2{
    #navigation, #site-title{
      display: none;
    }
    #content{
      margin-top: 50px;
      .block-title{
        padding: 10px;
        border-bottom: 0px solid transparent;
        color: white;
        text-align: center;
        background-color: #008B8B;
      }
    }
  }
}

/*********************************************/
/*************** edição header ***************/
/*********************************************/
header{
  #clear{
    clear: both;
  }
  #logo{
    margin-top: 4px;
    font-size: 12pt;
    padding: 0px 20%;
    a{
      text-decoration: none;
      color: white;
      font-family: 'Slackey', cursive;
      }
    }
    span{
      border: 1px solid white;
      border-radius: 2px;
      padding: 8px 26px;
      position: absolute;
      top: 65px;
      right: 22%;
    a{
      color: white;
      text-decoration: none;
      i{
        color: white;
      }
    }
  }
  strong{
    display: none;
  }
  #menu{
    height: 45px;
    width: 90%;
    border-radius: 25px 25px 0px 0px;
    background-color: rgb(245, 100, 39);
    margin: 20px 5% 0 5%;
    ul{
      text-decoration: none;
      list-style: none;
      color: white;
      width: 100%;
      }
    li{
      float: left;
      font-size: 100%;
      position: relative;
      margin: 0 1.5%;
    a{
      display: block;
      text-decoration: none;
      font-weight: bold;
      padding: 18px 30%;
      color: white;
      transition: all 0.3s linear;
      i{
        color: white;
      }
    }
      a:hover{
        background-color: rgba(246, 136, 56, 0.9);
      }
    }
  }
}

/********************************************/
/*************** edição boxes ***************/
/********************************************/
.boxes{
  p{
    text-align: justify;
    padding: 10px;
  }
  .blocks{
    width: 90%;
    padding: 0 10px;
    .article-block{
      box-shadow: 1px 2px 5px black;
    }
    .main-block {
      width: 140%;
      .main-content{
       border: 0;
       border-color: transparent;
       border-radius: 0px;
       box-shadow: none;
        #article {
          width: 100%;
          .blog-posts{
            width: 100%;
            .blog-post{
              display: inline-block;
              width: 250px;
              height: 280px;
              margin-top: 10px;
              margin-left: 45px;
              .title {
                height: 30px;
                font-size: 100%;
              }
            }
            .pagination {
              display: none;
            }
          }
          #next {
            font-size: 150px;
            float: right;
            position: relative;
            top: -255px;
            right: -5px;
            color: #008B8B;
          }
          #previous {
            font-size: 150px;
            float: left;
            position: relative;
            top: -255px;
            left: -10px;
            color: #008B8B;
          }
        }
      }
    }
  }
  .box-1{
    width: 68%;
  }
  .box-2{
    width: 32%;
  }
}

/*********************************************/
/*************** edição footer ***************/
/*********************************************/
#footer{
  font-size: 13px;
  position: relative;
  width: 94%;
  padding: 1% 3%;
  background-color:#008B8B;
  i{
    font-size: 24px;
  }
  a, p {
    color: #fff;
  }
  #theme-footer{
    width: 100%;
    #logo-grupo{
      padding: 0;
      text-align: center;
      margin: 0;
      img{
        display: inline-block;
        width: 100px;
        padding: 0 10px;
      }
    }
    .block-footer{
      float: right;
      display: block;
      width: 30%;
      margin: 2%;
      padding: 0;
      font-size: 15px;
    }
  }
  #copyright{
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

#chat-window {
  background: white;
}
#buddy-list #environment-logo {
  background-color: #008B8B;
}

/*********************************************/
/*** Edições default noosfero: Members list***/
/*********************************************/
.profile-members-tabs-container .ui-corner-all{
  padding-bottom: 10px;
}

#content #members-tab ul.profile-list-members,
#content #admins-tab ul.profile-list-admins{
  margin: 10px auto;
}

.common-profile-list-block .profile-image{
  height: auto;
}

.common-profile-list-block .profile-image img{
  max-height: 80px;
  max-width: 80px;
}

.box-1 .common-profile-list-block span{
  width: 84px;
}

.box-1 .common-profile-list-block span.fn {
  margin-top: 5px;
  height: 25px;
  width: 80px;
}

.action-profile-send_mail .send-mail-recipients {
  color: #008B8B;
  padding: 10px;
  width: 475px;
  line-height: 15px;
}